:root {
    --main-color: #0A1C28;
    --secondary-color: rgba(157, 191, 194, 0.726);
    --main-text-color: white;;
    --secondary-text-color: #b0c7d6;
    --send-message-form: rgba(100,100,100,0.6);
}

html, body {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(koadywallpaper.jpg);
    height : 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;

}

#root {
    height: 100%;
}

.app {
    display: grid;
    padding: 30px 110px 50px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: 
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "n s s s s s";
}

.new-room-form {
    grid-area: n;
}

.rooms-list {
    grid-area: r;
}

.message-list {
    grid-area: m;
}

.send-message-form {
    grid-area: s;
}

/* REST OF CSS */
.rooms-list {
    box-sizing: border-box;
    padding: 10px;
    /*background-color: var(--main-color);*/
    background:rgba(100,100,100,0.6);
    overflow: scroll;
    height: 100%;
    font-family: "Palatino Linotype";
}

.rooms-list ul {
    list-style-type: none;    
    padding: 0;
    overflow: scoll;
}

.rooms-list li {
    background:rgba(100,100,100,0.6);
    margin: 10px 0;
}

.rooms-list h1 {
    margin: 5px 0;
    color: rgb(255, 255, 255);
    
}

.rooms-list h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.rooms-list .room a {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
    
 }

.rooms-list .room.active a {
    color: var(--secondary-color);
}

.new-room-form {
    padding: 0 50px;
    background: var(--secondary-color);
    color: var(--main-text-color);
    background:rgba(100,100,100,0.6);
    
}

.new-room-form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.new-room-form input {
    width: 135px;
}

.new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
} 

.new-room-form input::placeholder {
    color: black;
    font-weight: 200;
    font-family: "Palatino Linotype";

}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
}

.new-room-form button {
    border: 0;
}

.message {
    margin: 15px 0;
}

.message .message-username {
    font-size: 15px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text {
    background: var(--main-color);
    color: white;;
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 900px;
    height: 600px;
    overflow: scroll;
    background:rgba(100,100,100,0.6);
    font-family: "Palatino Linotype";
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
    color: white;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
    height: 100%;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px ;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;
    font-family: "Palatino Linotype";
}

.send-message-form input:focus {
    outline-width: 0;
    color: var(--main-text-color);
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
    font-weight: bold;
}


.help-text {
    position: absolute;
    top: 10px;
}

.login-page{
    font-family: "Palatino Linotype";
}

.form{
margin:0;
padding:0;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
background:rgba(100,100,100,0.5);
}

.form input{
    font-family: "Palatino Linotype";
    outline: 1;
    background: #f2f2f2;
    /*font-weight: bold;*/
    width:80%;
    border: 0;
    margin: 10px 10px 20px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
}

.login-page h1{
    background-color: #010101;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    color: white;
}

.login-page h2{
    font-size: 25px;
    color: white;
}

.whosOnlineListContainer{
    width: 300px;
    flex: none;
    padding: 20;
    background: #2c303b;
    color: red;
          }

.TypingInd{
    color: red;
}